<div>
  <div><!-- asd -->
    Name: {{name}}<br>
    Password: {{password}}
  </div>
  <div>
    <p *ngFor="let r of rooms">
      <li>{{r.name}}</li>
    </p>
  </div>
  <div>
    <div>
      Wiadaomości:<br>
      {{message}}<br>
    </div>
    <div>
      <form name="form" #f="ngForm" (submit)="sendMessage()">
        <textarea type="textarea" rows="3" [value]="message" name="message" [(ngModel)]="message"></textarea> <br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <button type="submit" (click)="logout()">Logout</button>
</div>