<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<body>
  <div class="container">
    <div class="row">
      <div class="left-panel col-lg-3">
          <div class="user">
              Zalogowany jako:<br>
              {{name}} <br>
              <button type="submit" class="btn btn-info logout przyciskLogout" (click)="login()">Logout</button>
          </div>
        <div class="room-wrap list-group">
          <p>Pokoje:</p>
          <p *ngFor="let r of user_rooms">
            <li [ngClass]="{'alpha': r.active, 'beta': !r.active}" id="temp"
              (click)="getMessages(r.roomId); activateButton(r); this.senderHidden = false; this.holderHidden = true"
              style="list-style-type: none;">{{r.roomName}}</li>
          </p>
        </div>
        <div class="manageRooms">
          <div>
            Dołącz do pokoju
            <form name="addRoomForm" #f="ngForm" (submit)="addRoom()">
              <label for="" class="text-info">Nazwa:</label>
              <input type="text" name="newRoomName" class="form-control" [(ngModel)]="newRoomName" />
              <button type="submit" class="btn btn-info btn-md przycisk">Join</button>
              {{newRoomName}}
            </form>
          </div>
          <br>
          <div>
            Stwórz nowy pokój
            <form name="createRoomForm" #f="ngForm" (submit)="createRoom()">
              <label for="" class="text-info">Nazwa:</label>
              <input type="text" name="createRoomName" class="form-control" [(ngModel)]="createRoomName" />
              <button type="submit" class="btn btn-info btn-md przycisk">Create</button>
              {{createRoomName}}
            </form>
          </div>
        </div>
      </div>
      <div class="message-wrap col-lg-8">
        <div class="msg-wrap" id="messageBody">
          <p *ngFor="let m of messages">
            <li style="list-style-type: none;">
              {{m.user}}:<br>
              <pre>{{m.message}}</pre> <!-- musi być w pre -->
            </li>
          </p>
        </div>

        <div class="send-wrap ">
          <div class="place-holder" [hidden]="holderHidden">
            <label>Dołącz do pokoju by zacząć rozmawiać!</label>
          </div>
          <form name="form" #f="ngForm" (submit)="sendMessage()" [hidden]="senderHidden">
            <textarea class="form-control send-message" required="required" type="textarea" rows="3" [value]=""
              name="messageContent" placeholder="Write a reply..." [(ngModel)]="messageContent"></textarea> <br>
            <button type="submit" class="btn">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>